{# templates/add_article_form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add New Article{% endblock %}

{% block body %}
    <h1>Add New Article</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    
    {# Tags dropdown list #}
    {{ form_row(form.tags) }}

    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}
